@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

body {
  font-family: "Bellefair", sans-serif;
}

/* Add this CSS to your stylesheet or in a <style> tag if using inline styles */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
